@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu&display=swap');

.home {
  height: 100vh;
  background: url('../images/gdibackground2.png');
  background-color: rgba(255, 192, 203, 0.2);
}

.home-contain {
  height: 100vh;
  background-color: rgba(255, 192, 203, 0.2);
}

.home__heading {
  font-family: 'Tiro Telugu', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #FFFFFF;
}

.home__list {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem; 
} 