body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #414ce8;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
}

.home__link {
  color: #f7e6ff;
  padding: 2rem 1rem;
  text-decoration: none;
}

.home__text {
  display: inline-block;
  margin: auto;
}

.home__text:hover, 
.home__text:focus {
  border-bottom: 2px solid #f7e6ff;
}
